[package]
name = "delta_tiger"
version = "1.0.0"
edition = "2021"
authors = ["Vladyslav Honcharov <giovanigentile90@gmail.com>"]

[[bin]]
name = "red_team"
path = "src/bin/red_team_stress.rs"

[dependencies]
# Мінімальна залежність
rand = "0.8"
